*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
}
#left{
    height: 100%;
    width: 45%;
    background-color: rgb(219, 21, 60);
}
#text{
    position: absolute;
    top: 17%;
    left: 5%;
    color: #c6c1c1;
}
#text h1{
    font-size:4vw;
    font-weight: 800;
    margin-bottom: 3px;
}
#text h1 span{
    font-weight: 300;
}
#text h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
#text p{
    width: 30%;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 25px;
}
#text button{
    border-radius: 10px;
    padding: 12px 3rem;
    border: none;
    color: rgb(219, 21, 60);
    background-color: #c6c1c1;
}
#left #rbtm{
    width: 37%;
    height: 11.5%;
    background-color: #c6c1c1;
    position: absolute;
    bottom: 3%;
    left: 0%;
    padding: 14px 22px;
}
#rbtm h1{
    font-size: 18px;
    color: rgb(219, 21, 60);
    margin-top: -8px;
    margin-bottom: 6px;
}
#rbtm p{
    font-size: 10px;
    font-weight: 200px;
    opacity: .3;
    width: 70%;
}
#right{
    height: 100%;
    width: 65%;
    background-color: #c6c1c1;
    position: relative;
}
#right #logo{
    height: 31vh;
    width: 31vw;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(-50%, -50%) rotate(-30deg);
}
#right #center{
    position: absolute;
    left: 28%;
    top: 18%;
}
#center h1{
    font-size: 3.4vw;
    padding-top: 25px;
    color: rgb(219, 21, 60);
}
#center h1 span{
    font-weight: 100;
    color: rgba(0, 0, 0, 0.695);
}
#center h3{
    font-size: 16px;
    font-weight: 300;
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.695);
}
#center h3 span{
    font-weight: 700;
}
#center p{
    margin-top: 10px;
    width: 65%;
    font-size: 13px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.695);
}
#center #buttons{
    margin-top: 20px;
    display: flex;
    gap: 12px;
}
#buttons button{
    padding: 10px 9px;
}

#center button:nth-child(1){
    color: rgb(219, 21, 60);
    border: 2px solid rgb(219, 21, 60);
    background-color: transparent;
    border-radius: 10px;
}
#center button:nth-child(2){
    background-color: rgb(219, 21, 60);
    color: #c6c1c1;
    border-radius: 40px;
    border: none;
    padding: 15px 18px;
}
#center h4{
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    opacity: .7;
}
#center #samples{
    margin-top: 12px;
    margin-left: 4px;
    display: flex;
    gap: 10px;
}
#samples .sample{
    width: 100px;
    background-color: #fff;
    padding: 2px 2px;
    border: 2px solid #9f9b9b;
}
.sample img{
    width: 100%;
    height: 100%;
}
